<!DOCTYPE html>
<html>
<head>
  <title>Chat APP</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <script>  </script>
  <style>
  .form-control{
  width : 40%;

  }
  </style>
</head>

<body>
<div class="container">
 <form action="" method="POST">
  <div class="form-group">
    <label><h2>Welcome to Signup Page</h2></label>
    
  </div>
  
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" name="email" placeholder="Enter your email address" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter your username"class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" placeholder="Password" class="form-control" id="pwd" name="password1">
  </div>
  <div class="form-group">
    <label for="pwd2">Re-enter Password:</label>
    <input type="password" placeholder="Re-enter Password" class="form-control" id="pwd2" name="password2">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>
</body>
</html>
